Repository wam82/teamname-soen341project2023, pull requests merged in 2023-03, with the labels that each got.

#64 Dev/manage job postings/manage job postings
  app/package-lock.json
  app/package.json
  app/public/index.html
  app/src/App.tsx
  app/src/Header/Header.css
  app/src/components/Header/Header.css
  app/src/components/Header/Header.jsx
  app/src/components/Write/Write.jsx
  app/src/components/Write/write.css
  app/src/components/post/Post.jsx
  app/src/components/post/post.css
  app/src/components/posts/Posts.jsx
  app/src/components/posts/posts.css
  app/src/components/rightbar/rightbar.css
  app/src/components/rightbar/rightbar.jsx
  app/src/components/sidebar/Sidebar.jsx
  app/src/components/sidebar/sidebar.css
  app/src/components/single/Single.jsx
  app/src/components/single/single.css
  app/src/components/singlePost/singlePost.css
  app/src/components/singlePost/singlePost.jsx
  app/src/home/home.css
  app/src/home/home.jsx
  app/src/react-app-env.d.ts
Labels: user story/employer, front-end

#54 AddedManagingStudentProfile
  README.md
  app/package-lock.json
  app/package.json
  app/public/index.html
  app/src/App.tsx
  app/src/Header/Header.css
  app/src/LoginPage/LoginPage.css
  app/src/LoginPage/LoginPage.js
  app/src/ManagingStudentProfile/Manage_Profile.css
  app/src/ManagingStudentProfile/Manage_Profile.jsx
  app/src/components/Header/Header.css
  app/src/components/Header/Header.jsx
  app/src/components/Write/Write.jsx
  app/src/components/Write/write.css
  app/src/components/post/Post.jsx
  app/src/components/post/post.css
  app/src/components/posts/Posts.jsx
  app/src/components/posts/posts.css
  app/src/components/rightbar/rightbar.css
  app/src/components/rightbar/rightbar.jsx
  app/src/components/sidebar/Sidebar.jsx
  app/src/components/sidebar/sidebar.css
  app/src/components/single/Single.jsx
  app/src/components/single/single.css
  app/src/components/singlePost/singlePost.css
  app/src/components/singlePost/singlePost.jsx
  app/src/home/home.css
  app/src/home/home.jsx
  app/src/react-app-env.d.ts
Labels: user story/student, user-story, front-end

#93 Update main with epic/database
  app/package-lock.json
  app/package.json
  app/src/App.tsx
  app/src/LoginPage/LoginPage.js
  app/src/react-app-env.d.ts
  app/tempFile
  obj/Debug/projectname.njsproj.AssemblyReference.cache
  server/package-lock.json
  server/package.json
  server/server.js
Labels: epic, back-end, Task

#101 Managing student profile
  app/package-lock.json
  app/package.json
  app/src/ManagingStudentProfile/Manage_Profile.jsx
Labels: user story/student, back-end, database
